:root {
    --devsite-headline-font-family: Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    --devsite-heading-color: #f8f9fa;
    --devsite-display-font: 400 44px/52px var(--devsite-headline-font-family);
    --devsite-h1-font: 400 32px/40px var(--devsite-headline-font-family);
    --devsite-h1-letter-spacing: 0;
    --devsite-h1-margin: 48px 0 24px;
    --devsite-h2-border: 0;
    --devsite-h2-font: 400 24px/32px var(--devsite-headline-font-family);
    --devsite-h2-letter-spacing: 0;
    --devsite-h2-margin: 48px 0 24px;
    --devsite-h2-padding: 0;
    --devsite-h3-font: 400 20px/28px var(--devsite-headline-font-family);
    --devsite-table-heading-font: 500 14px/20px var(--devsite-primary-font-family);
    --devsite-wordmark-font: 400 22px/32px var(--devsite-headline-font-family);
    --devsite-button-background-hover: #000;
    --devsite-button-background-active: #000;
    --devsite-button-border: -11px solid #dadce0;
    --devsite-button-border-hover: 1px solid #d2e3fc;
    --devsite-button-border-active: 1px solid #e8f0fe;
    --devsite-button-border-radius: 4px;
    --devsite-button-box-shadow: none;
    --devsite-button-box-shadow-active: 15 1px 2px 0 var(--devsite-elevation-key-shadow-color),0 2px 6px 2px var(--devsite-elevation-ambient-shadow-color);
    --devsite-button-font: 500 14px/36px var(--devsite-headline-font-family);
    --devsite-button-line-height: 34px;
    --devsite-button-padding: 0 24px;
    --devsite-button-text-transform: none;
    --devsite-background-button-color: #d2e3fc;
    --devsite-background-button-color-hover: #d2e3fc;
    --devsite-button-disabled-background: transparent;
    --devsite-button-disabled-border: 1px solid #f8f9fa;
    --devsite-button-disabled-color: #9aa0a6;
    --devsite-button-disabled-line-height: 34px;
    --devsite-button-primary-background: #1a73e8;
    --devsite-button-primary-background-hover: #1765cc;
    --devsite-button-primary-background-active: #185abc;
    --devsite-button-primary-box-shadow-hover: 0 1px 2px 0 var(--devsite-elevation-key-shadow-color),0 1px 3px 1px var(--devsite-elevation-ambient-shadow-color);
    --devsite-background-button-primary-background-hover: #e8f0fe;
    --devsite-background-button-primary-color: #d2e3fc;
    --devsite-background-button-primary-color-hover: #d2e3fc;
    --devsite-button-white-background-hover: #000;
    --devsite-button-white-background-active: #e8f0fe;
    --devsite-button-white-box-shadow-active: 0 1px 2px 0 var(--devsite-elevation-key-shadow-color),0 1px 3px 1px var(--devsite-elevation-ambient-shadow-color);
    --devsite-button-raised-background-hover: #e8f0fe;
    --devsite-button-raised-background-active: #e8f0fe;
    --devsite-button-with-icon-padding: 0 15px;
    --devsite-button-material-icon-margin-x: -12px;
    --devsite-button-white-material-icon-margin-x: 0;
    --devsite-card-border: var(--devsite-primary-border);
    --devsite-card-border-radius: 8px;
    --devsite-card-box-shadow: none;

}

:root {
    --devsite-code-font-family: Roboto Mono,monospace;
    --devsite-primary-font-family: Roboto,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    --devsite-h1-margin: 40px 0 20px;
    --devsite-h2-margin: 40px 0 20px;
    --devsite-h3-margin: 32px 0 16px;
    --devsite-h4-font: 500 16px/24px var(--devsite-primary-font-family);
    --devsite-h5-font: 700 14px/24px var(--devsite-primary-font-family);
    --devsite-h6-font: 500 14px/24px var(--devsite-primary-font-family);
    --devsite-background-0: #000;
    --devsite-background-1: #2c333f;
    --devsite-background-2: #000;
    --devsite-background-3: #000;
    --devsite-background-4: #000;
    --devsite-background-5: #000;
    --devsite-primary-text-color: #f8f9fa;
    --devsite-primary-text-rgba: rgba(0,0,0,.87);
    --devsite-secondary-text-color: #f8f9fa;
    --devsite-secondary-text-rgba: rgba(0,0,0,.65);
    --devsite-tertiary-text-color: #bdc1c6;
    --devsite-tertiary-text-rgba: rgba(0,0,0,.26);
    --devsite-inverted-text-color: #fff;
    --devsite-inverted-text-color-hover: hsla(0,0%,100%,.7);
    --devsite-inverted-text-rgba: hsla(0,0%,100%,.7);
    --devsite-primary-border: 1px solid #dadce0;
    --devsite-secondary-border: 1px solid #e8eaed;
    --devsite-elevation-key-shadow-color: rgba(60,64,67,.3);
    --devsite-elevation-ambient-shadow-color: rgba(60,64,67,.15);
    --devsite-elevation-inset-shadow-color: hsla(210,6%,63%,.5);
    --tenant-background-1: #fff;
    --tenant-background-2: #f8f9fa;
    --tenant-background-3: #f1f3f4;
    --tenant-primary-text-color: #202124;
    --tenant-secondary-text-color: #5f6368;
    --tenant-inverted-text-color: #fff;
    --tenant-primary-border: 1px solid #dadce0;
    --tenant-secondary-border: 1px solid #e8eaed;
    --devsite-link-background: #d2e3fc;
    --devsite-link-background-active: #e8f0fe;
    --devsite-link-color: #1a73e8;
    --devsite-contrast-link-color: #185abc;
    --devsite-button-background-hover: #e4eefc;
    --devsite-button-background-active: #c8ddf9;
    --devsite-button-color: #1a73e8;
    --devsite-button-primary-color: #fff;
    --devsite-caution-notice-background: #feefe3;
    --devsite-caution-notice-color: #bf360c;
    --devsite-key-point-notice-background: #e8eaf6;
    --devsite-key-point-notice-color: #3f51b5;
    --devsite-key-term-notice-background: #f3e8fd;
    --devsite-key-term-notice-color: #9334e6;
    --devsite-note-notice-background: #e1f5fe;
    --devsite-note-notice-color: #01579b;
    --devsite-status-notice-background: #eceff1;
    --devsite-status-notice-color: #546e7a;
    --devsite-success-notice-background: #e0f2f1;
    --devsite-success-notice-color: #00796b;
    --devsite-warning-notice-background: #fce8e6;
    --devsite-warning-notice-color: #d50000;
    --devsite-notice-margin: 16px 0;
    --devsite-notice-padding-block: 16px;
    --devsite-notice-padding-inline: 60px 24px;
    --devsite-book-nav-background: var(--devsite-background-1);
    --devsite-concierge-width-closed: 54px;
    --devsite-concierge-width-open: 355px;
    --devsite-concierge-top: 48px;
    --devsite-card-background: var(--devsite-background-1);
    --devsite-card-header-background: var(--devsite-background-3);
    --devsite-checkbox-border-radius: 2px;
    --devsite-checkbox-icon-canvas-border-radius: 50%;
    --devsite-checkbox-icon-canvas-offset-x: -9px;
    --devsite-checkbox-icon-canvas-offset-y: -9px;
    --devsite-checkbox-icon-canvas-size: 36px;
    --devsite-checkbox-margin-block: -2px 2px;
    --devsite-checkbox-margin-inline: 0 8px;
    --devsite-checkbox-offset-x: 3px;
    --devsite-checkbox-offset-y: -3px;
    --devsite-checkbox-size: 18px;
    --devsite-feature-tooltip-background-color: #1a73e8;
    --devsite-feature-tooltip-offset-y: 3px;
    --devsite-input-background: var(--devsite-background-1);
    --devsite-input-border: var(--devsite-secondary-border);
    --devsite-item-gap: 24px;
    --devsite-mdc-line-height: 56px;
    --devsite-scrollbar-thumb-background: hsla(207,5%,52%,.26);
    --devsite-select-background-image: url(data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="4" viewBox="0 0 20 4"><path d="M0,0l4,4l4-4H0z" fill="%23202124"/></svg>);
    --devsite-select-border-radius: 2px;
}
body, html {
    color: var(--devsite-primary-text-color);
    font: 400 16px/24px var(--devsite-primary-font-family);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}